selenium==2.53.6
image-slicer==0.1.1
requests==2.13
urllib3==1.26.5
bs4==0.0.1
clarifai==2.5.0
SpeechRecognition==3.6.3
sphinx==1.5.5
faker==1.0.1
scipy==1.0.0
google-api-python-client==1.6.4
ffmpeg-python==0.1.17
sox==1.3.7
py-thesaurus==1.0.5
boto3==1.9.68